body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(#99daf4,rgb(184, 244, 192));
    color: black;
    line-height: 1.6px;
    background-attachment: fixed;
    background-size: cover;
}
header{
    background-color:rgb(113, 94, 197);
    color:white;
    padding:1.5rem;
    position:sticky;
    margin-top: 0px;
}
nav ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    margin: 0px 15px;
}
section{
    padding:60px 20px;
    text-align: center;
    margin:30px 20px;
    border-radius: 12px;
    background-color:rgb(236, 243, 240);
    border:2px solid black;
}
.highlight{
   padding: 30px;
   text-align: center;
   margin: 30px;
   margin-left: 50px;
   margin-right: 50px;
   background-color:rgb(143, 140, 229);
   border-radius: 10px;

}
.highlight:hover{
    background: linear-gradient(rgb(8, 190, 240),rgb(189, 113, 192));
    transition: transform 0.7s ease;
    transform: scale(1.1);
}
.box1{
    padding:30px;
    margin-bottom: 0px;
    text-align: center;
    background-color: mediumslateblue;
    color: black;
}
button:hover{
    background-color: rgb(126, 126, 201);
    transition: transform 0.5s ease;
    transform:scale(1.1) ;
    
}
.myform{
    margin:10px;
}
img{
    border-radius: 50%;
}

